@font-face {
    font-family: 'Digital-7';
    src: url('../../assets/fonts/digital-7.ttf');
}

.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 0px 1rem;
}

.date > {
    font-family: 'Digital-7' !important;
    font-size: 2.5rem !important;
    font-weight: 500 !important;
    color: #FDFBF9 !important;
}
/* .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
    font-family: 'Digital-7' !important;
    font-size: 2.5rem !important;
    font-weight: 500 !important;
    color: #FDFBF9 !important;

} */

.label {
    color: #FDFBF9;
    font-size: 0.7rem;
    font-weight: 250;
}