.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px !important;
    transition: 0.3s;
    width: 100%;
    background-color: #303846 !important;
    color: azure !important;
}

.createdAt{
    color: rgba(255, 255, 255, 0.4);
}
.previewContent{
    max-height: 3em;
    overflow-y: hidden;
    color: rgba(255, 255, 255, 0.7);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.65);
}

