:root{
  --matte-black: '#28282B';
  --matte-white: '#FDFBF9';
}

*::-webkit-scrollbar {
  width: 0.2em;
  height: 0.1em;
}

*::-webkit-scrollbar-thumb {
  background-color: #8e8e8e;
  border-radius: 9999px;
}