.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 5px 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.modalBox {
    position: relative;
    z-index: 2001;
    top: 0;
    left: 0;
    width: 80%;
    height: 90vh;
    max-width: 500px;
    border-radius: 16px;
    padding: 10px 20px;
    margin: auto;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.modalBox::-webkit-scrollbar {
    display: none;
}