html body {
  overflow: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

.diary-container {
  border: 1px solid black;
  background-color: lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.diary-left-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-around;
  align-items: center;
}

.diary-mid-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 70%;
  justify-content: space-around;
  align-items: center;
  overflow-y: scroll;
}

.diary-right-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-around;
  align-items: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.arrow {
  box-sizing: border-box;
  height: 8vmin;
  width: 8vmin;
  border: 0 solid #2155CD;
  border-width: 0px 6px 6px 0px;
  transition: border-width 200ms ease-in-out;
  padding: 10px;
}

.arrow:hover {
  border-bottom-width: 10px;
  border-right-width: 10px;
}

.left {
  transform: rotate(135deg);
}

.right {
  transform: rotate(-45deg);
}

.add-icon-container {
  border: 2px solid red;
  padding: 10px;
}

.add-icon {
  transform: scale(1.3);
  color: #2155CD;
}

.add-icon-container:hover {
  transform: scale(1.8);
  transition: transform 300ms ease-in-out;
}

section {
  height: 100vh;
  width: 60vw;
  scroll-snap-align: start;
  position: relative;
}