.diary-container {
  border: 1px solid black;
  background-color: lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.diary-left-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-around;
  align-items: center;
}

.diary-mid-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-around;
  align-items: center;
}

.diary-right-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-around;
  align-items: center;
}

/* .arrow {
  cursor: pointer;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
} */

.arrow {
  box-sizing: border-box;
  height: 8vmin;
  width: 8vmin;
  border: 0 solid #2155CD;
  border-width: 0px 6px 6px 0px;
  transition: border-width 200ms ease-in-out;
  padding: 10px;
}

.arrow:hover {
  border-bottom-width: 10px;
  border-right-width: 10px;
}

.left {
  transform: rotate(135deg);
}

.right {
  transform: rotate(-45deg);
}

.add-icon-container {
  border: 2px solid red;
  padding: 10px;
}

.add-icon {
  transform: scale(1.3);
  color: #2155CD;
}

.add-icon-container:hover{
  transform: scale(1.8);
  transition: transform 300ms ease-in-out;
}

.notes-container{
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}