.full-cover {
  height: 100vh;
}

.diary-container {
  border: 1px solid black;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.prev-arrow-and-modal-container {
  display: inline;
}

.add-btn {
  position: absolute;
  top: 20px;
}

.page-container {
  border: 3px solid yellow;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}

.indicator {
  display: flex;
  justify-content: space-between;
}

.indicator > .indicator-btn {
  margin: 10px 20px;
}

/* Form */
.form-container {
    padding: 15px;
}