.diary-container {
    height: 100vh;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
}

.indicator {
    display: flex;
    justify-content: space-between;
}

.indicator > .indicator-btn {
    margin: 10px 20px;
}

.xx {
    align-self: center;
}