.full-cover {
  height: 90vh;
}

.diary-container {
  border: 1px solid black;
  background-color: lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.date-but:hover{
  background-color: rgba(0, 0 ,0, 0.1);
}

.prev-date-but {
  height: 100%;
  width: 30vw;
}

.next-date-but{
  height: 100%;
  width: 30vw;
}

.page-container {
  border: 1px solid black;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}

.indicator {
  display: flex;
  justify-content: space-between;
}

.indicator>.indicator-btn {
  margin: 10px 20px;
}

/* Form */
.form-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding: 15px;
}

.title-container {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;

  margin: 3px;
}

.content-container {
  border: 4px solid green;
  justify-content: center;
}