.login-form-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: fit-content;
  min-height: 100vh;
}

.login-form-header {
  display: flex;
  flex-direction: column;
  /* width: 50vw; */
  justify-content: center;
  align-items: center;
}

/* Instead of giving div background using img tag now! */
/* .login-form-image {
  height: 95vh;
  background-image: url("../../assets/images/loginBanner.svg");
  background-size: cover;
  background-repeat: no-repeat;
  transform: scaleX(-1); 
} */

.login-logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .login-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.login-input-container * {
  margin-bottom: 9px;
}

.input-field-container {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.sign-up-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-text {
    margin-top: 5px;
    margin-bottom: 0;
}

.heading {
  font-family: "Ubuntu", sans-serif;
  font-weight: 1000;
}

.small-text {
  font-size: 16px;
  line-height: 20px;
}

.medium-text {
  font-size: 18px;
  line-height: 20px;
}

.large-login-text {
  font-size: 3em;
  letter-spacing: 2px;
  line-height: 3.2rem;
}

.login-dot {
    font-size: 1em;
    color: #508afa;
}

@media (max-width: 780px) {
    .login-logo-header {
      margin-top: 1rem;
    }
    
    .login-logo-header img {
      display: none;
    }

    .login-input-container {
      flex-basis: 80%;
      justify-content: flex-start;
      align-items: center;
      margin-top: 5px;
      margin-bottom: 5px;
    } 
}

@media (max-width: 460px) {
    .login-input-container {
        flex-basis: 100%;
    }

    .login-input-container {
      flex-basis: 100%;
  }

  .large-login-text {
    font-size: 2em;
    letter-spacing: 2px;
    line-height: 30px;
  }
}

@media (max-width: 270px) {
    .sign-up-button {
        display: inline;
        align-self: center;
    }

    .login-dot {
        font-size: 40px;
    }
}