.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-header {
  display: flex;
  flex-direction: column;
}

.login-form-image {
  height: 95vh;
  background-image: url("../../assets//images/selftimeisolation.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}

.login-logo-header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.login-input-container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 50%;
}

.login-input-container * {
  margin-top: 9px;
  margin-bottom: 9px;
}

.input-field-container {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.sign-up-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-text {
    margin-top: 5px;
    margin-bottom: 0;
}

.heading {
  font-family: "Ubuntu", sans-serif;
  font-weight: 1000;
}

.small-text {
  font-size: 16px;
  line-height: 20px;
}

.medium-text {
  font-size: 18px;
  line-height: 20px;
}

.large-login-text {
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 40px;
}

.login-dot {
    font-size: 40px;
    color: #508afa;
}

@media (max-width: 780px) {
    .login-form-image {
        flex-basis: 0%;
        width: 0%;
    }

    .login-input-container {
        flex-basis: 80%;
    }
}

@media (max-width: 460px) {
    .login-input-container {
        flex-basis: 100%;
    }
}

@media (max-width: 460px) {
    .login-input-container {
        flex-basis: 100%;
    }
}

@media (max-width: 270) {
    .sign-up-button {
        display: inline;
        align-self: center;
    }

    .login-dot {
        font-size: 50px;
    }
}