.profileCardContainer
{
	display: flex;
	font-family: 'Noto Sans', sans-serif;
	height: 100%;
	width: 100%;
	flex-wrap: wrap-reverse;
}

.personData {
	display: flex;
	flex-direction: column;
	flex-basis: 40%;
	justify-content: center;
	align-items: center;
	padding: 10px 5rem;
}

.personData > * {
	display: flex;
	justify-content: center;
}

.personName {
	margin: 0;
	padding-bottom: 0.1em;
}

.personWhatWork {
	margin: 0;
	margin-bottom: 0.4em;
}

.personWhoAreYou {
	margin: 0;
}

.profileCardSocial {
	margin-top: 0.2em;
}

.profileCardSocial > a {
	text-decoration: none;
}

.profileCardSocial {
	display: flex;
	justify-content: space-evenly;
}

.pfpContainer {
	flex-basis: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatars {
	max-width: 100%;
    max-height: 100%;
}