.profileCardContainer {
  display: flex;
  font-family: "Noto Sans", sans-serif;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.personData {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.personData div {
	margin-bottom: 20px;
}

.personContent {
 text-align: center;
 margin-top: 0;
 word-break: break-all;
}

.profileCardSocial {
  margin-top: 0;
}

.profileCardSocial > a {
  text-decoration: none;
  margin: 0px 10px;
}

.pfpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatars {
  max-height: 350px;
  max-width: 350px;
}

@media (max-width: 700px) {
  .avatars {
    height: 300px;
    width: 300px;
  }

  .personData {
	max-width: 100%;
	margin: 0 1rem;
  }
}

@media (max-width: 300px) {
	.avatars {
	  height: 250px;
	  width: 250px;
	}
}