.home-container {
    display: flex;
    flex-direction: column;
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    25% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.2;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.popup-anim {
    animation: popup 3s ease-out;
}

.lottie-animation {
    display: flex;
    width: 50%;
    height: 50%;
    justify-content: flex-start;
}

.home-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-title-container, .confused-point {
    color: black;
    flex-basis: 60%;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
}

.home-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 100px;
    margin: 0px;
}

.home-title-desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: 10px 10px 10px 10px;
}

.confused-header, .how-it-works-header, .extra-features-heading {
    font-size: 3.2rem;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.confused-point-container, .solution-container, .extra-features-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87bbd5;
    margin-bottom: 4rem;
}

.solution-container, .extra-features-container {
    background-color: #fff;
}

.extra-features-container {
    flex-direction: column;
}

.confused-points {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.confused-point {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

.how-it-works-container {
    display: flex;
    flex-direction: column;
    background-color: #87bbd5;
    padding: 4rem 0;
}

.how-it-works-steps {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;  
}

.step, .extra-features-content {
    display: flex;
    flex-direction: column;
    /* word-break: break-all; */
    margin: 1em auto;
    max-width: 20rem;
}

.icon {
    max-height: 20vh;
    max-width: 20vw;
    margin: 0 auto;
}


.step-content, .step-header {
    display: flex;
    justify-content: center;
}

.step-header {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
}

.extra-features {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer {
    background-color: #303846;
    color: #ffffff;
    font-weight: bold
}

@media (max-width: 700px) {
    .home-heading, .confused-point-container, .solution-container {
        flex-wrap: wrap-reverse;
    }

    .home-title-container {
        max-height: 50%;
        min-width: 70%;
    }

    .home-title, .confused-header {
        font-size: 3rem;
    }

    .home-title-desc, .confused-point {
        font-size: 1rem;
    }

    .confused-header {
        padding-top: 0;
        padding-bottom: 0.5rem;
    }

    .confused-point {
        margin: 5px 10px;
    }
}

@media (max-width: 500px) {
    .home-title, 
    .confused-header {
        font-size: 2rem;
        line-height: 3rem;
    }

    .home-title-desc, 
    .confused-point {
        font-size: 0.8rem;
        margin: 0 10px;
    }
}