.carousel {
    overflow: hidden;
}

.inner {
    white-space: nowrap;
    transition: transform 0.25s;
}

.carousel-item {
    display: inline-flex;
    height: 100vh;
    background-color: red;

    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.indicators {
    display: flex;
    justify-content: center;
}

.indicators > Button {
    margin: 5px 10px 5px 10px;
}