
@keyframes hideNav {
    0%{opacity: 1;}
    10%{opacity: 0.9;}
    20%{opacity: 0.8;}
    30%{opacity: 0.7;}
    40%{opacity: 0.6;}
    50%{opacity: 0.5;}
    60%{opacity: 0.4;}
    70%{opacity: 0.3;}
    80%{opacity: 0.2;}
    90%{opacity: 0.1;}
    100%{opacity: 0;}
  }
  
  @keyframes showNav {
    0%{opacity: 0;}
    10%{opacity: 0.1;}
    20%{opacity: 0.2;}
    30%{opacity: 0.3;}
    40%{opacity: 0.4;}
    50%{opacity: 0.5;}
    60%{opacity: 0.6;}
    70%{opacity: 0.7;}
    80%{opacity: 0.8;}
    90%{opacity: 0.9;}
    100%{opacity: 1;}
  
  }
  
  .hideNav {
    animation: hideNav 1s ease-in-out 0s 1 forwards;
  }
  .showNav{
    animation: showNav 0.5s ease-in-out 0s 1 forwards;
  }