.profileFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    height: fit-content;
    min-height: 100vh;
    margin-bottom: 20px;
}

.avatarContainer {
    display: flex;
    flex-direction: column-reverse;
    align-self: flex-start;
    flex-basis: 40%;
}

input[type='file'] {
    color: transparent;
}

.profileFormData{
    width: 95%;
    max-width: 450px;
}